body{
    background-color: rgb(255, 255, 255);
    text-align: center;
}
h1{
    font-size: 100px;
    font-family: arial;
    text-align: center;
    color: rgb(5, 234, 255);
    text-shadow: -4px 3px 0 #c000fa, -14px 7px 0 #0a0e27;
}
.persegi{
    width: 500px;
    height: 300px;
    margin: 50px auto;
    background-image: linear-gradient(red,blue );
}
img{
    width: 200px;
    height: 200px;
    filter: blur(10px) grayscale(1);
    transition: 1s;
}
img:hover{
    filter: blur(0) grayscale(0);
    transform: scale(1.5) rotate(-360deg);  /* Transform : scale(angka),rotate(deg),skew(deg),tranlate(px)    */
    
}

.kotak{
    width: 300px;
    height: 200px;
    background-color: salmon;
    animation: animasikotak 2s ease 1 alternate forwards;
}
/* Animasi */
@keyframes animasikotak{
    0%{
        width: 300px;
    }
    50%{
        width: 500px;
        height: 200px;
    }
    100%{
        width: 500px;
        height: 500px;
    }
}